@import '~@fluentui/react/dist/sass/References.scss';


:global {
  #workbenchPageContent, .CanvasComponent.LCS .CanvasZone {
   max-width: 100% !important;
  } 
}

.test {
  color: black;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;

  .logo {
    margin: 20px;
    font-size: 2rem;
    color: #fff;
  }
  .logoLink {
    text-decoration: none;
  }
}





.searchContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.searchBar {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  flex-grow: 1;
  margin-right: 10px;
}

.searchButton, .addButton {
  background-color: #2196F3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton {
  margin-left: 10px;
}




// Card.module.scss

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.image img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #ddd;
}

.content {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.designation {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #888;
}

.phoneNumber,
.email {
  margin: 0;
  font-size: 14px;
  color: #888;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .image {
    margin-bottom: 10px;
  }
}


.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.add-employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  form {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    .formgroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        font-size: 18px;
        margin-bottom: 5px;
      }

      input,
      select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

        &:focus {
          outline: none;
        }
      }

      button {
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        background-color: #0078d4;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #005a9e;
        }
      }
    }
  }
}





// profile
.container {
  display: flex;
  justify-content: center ;
  align-items: center;
  margin: 20px;

  padding: 20px;
  border: 1px solid #ccc;
}

.left {
  width: 30%;
}

.left img {
  width: 200px;
  border-radius: 10px ;

}

.right {
  width: 70%;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 0;
}

.infoSection {
  margin: 10px 0;
}

.infoSection h2 {
  font-size: 18px;
  margin: 0;
}

.infoSection p {
  margin: 5px 0;
}



//add employee css

.addEmployeeContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.addEmployeeContainer h1 {
  text-align: center;
}

.formGroup {
  margin-bottom: 20px;
}

.formInput {
  margin-bottom: 10px;
}

.formInput label {
  display: block;
  margin-bottom: 5px;
}

.formInput input[type="text"],
.formInput input[type="email"],
.formInput input[type="date"],
.formInput select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.formButton button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
}



//add image css


.uploadcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.selected-file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.selected-file img {
  max-width: 100%;
  margin-top: 10px;
}



//profile handles

.profileHandles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;
}


.delete {
  padding: 10px 15px;
  background-color: #ff4800;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin: 20px;

}

// profile nav


.profileNav{
  display: flex;
  margin-left: 30px;
  align-items: center;
  /* justify-content: center; */

}

.profileNav button {
  width: 200px;
  background-color: #4088db;
  color: #000000;
  padding: 10px;
  border: none;
  font-size: 20px;
  margin: 2px;
}